*, 
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}


body{
  display: grid;
  justify-content: center;
  align-items: center;
  background-color:#FFF0ED;
}

section{
  width: 500px;
  height: 500px;
  position: relative;
}

.link_button {
    width: 500px;
    background-color:  #6E6E6D;
    padding: 20px;
    border: none;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.link {
color:#FAD0C9;
font-size: 200%;
text-decoration: none;
}