.bodyScreen {
    width: 390px;
    height: 844px;
    background: rgba(255,239,236,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.buttonPos1 {
    width: 361px;
    height: 59px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 126px;
    left: 14px;
    overflow: hidden;
}



.buttonPos2 {
width: 361px;
height: 59px;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: 219px;
left: 14px;
overflow: hidden;
}

.buttonStyle {
width: 361px;
height: 59px;
background: rgba(110,110,109,1);
opacity: 1;
position: relative;
top: 0px;
left: 0px;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
overflow: hidden;
}

.buttonText {
    width: 108px;
    color: rgba(250,208,201,1);
    position: absolute;
    top: 13px;
    left: 127px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
}   