.v19_90 {
    width: 390px;
    height: 844px;
    background: rgba(255,239,236,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v19_91 {
    width: 390px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v19_92 {
    width: 390px;
    height: 90px;
    background: rgba(110,110,109,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v19_93 {
    width: 146px;
    color: rgba(250,208,201,1);
    position: absolute;
    top: 29px;
    left: 123px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }
  .v19_94 {
    width: 340px;
    height: 533px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 25px;
    overflow: hidden;
  }
  .v19_95 {
    width: 340px;
    height: 533px;
    background: rgba(110,110,109,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v19_96 {
    width: 204px;
    color: rgba(250,208,201,1);
    position: absolute;
    top: 245px;
    left: 69px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
  }